.main {
    background-color: #1D5757;
    background-size: cover;
    position: absolute;
    text-align: center;
    padding: 10%
}

h1{
    color: #fff;
    font-weight: 800px;
    font-size: 55px;
}

.starting{
    color: #000;
    margin-top: 55px;
}

.button{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.button{
    width: 300px;
    height: 50px;
    align-self: center;
    padding-top: 25px;
}

.login{
    background: #26A7A7;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 50px;
}

.welcomeBtn{
    background: #fff;
    color: #26A7A7;
    border: none;
    border-radius: 50px;
 
}

.welcome{
    color: whitesmoke;
    margin-top: 55px;
}

@media screen and (max-width:700px) {

    .main button{
        display: block;
        width: 300px;
        height: 50px;
    }

    h1{
        font-size: 30px;
    }

    .button{
        width: 300px;
        height: 50px;
        align-self: center;
        padding-top: 25px;
    }
}